body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

#canvasLines, #canvas3d, #canvasTexture0 {
  width: 100%;
  height: 33%;
  position: absolute;
}

#canvasLines {
  top: 33%;
}

#canvasTexture0 {
  top: 67%;
}

#fps {
  color: white;
}
