body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

#canvas2d, #canvas3d {
  width: 100%;
  height: 50%;
  position: absolute;
}

#canvas2d {
  top: 50%;
}

#fps {
  color: white;
}
