body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.overlay, .content {
  position: absolute;
}

#canvas3d {
  width: 100vmin;
  height: 100vmin;
}

#canvasLines {
  width: 20vmin;
  height: 20vmin;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.materials {
  display: flex;
  flex-direction: row;
}

.material {
  width: 20vmin;
  height: 20vmin;
}

#fps {
  color: white;
}
